@model IEnumerable<FitnessCenterManagement.Models.Attendance>

@{
    ViewData["Title"] = "Index";
}

<style>
    /* Custom styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #3498db; /* Header background color */
        color: black; /* Header text color */
    }

    tr:nth-child(even) {
        background-color: #f8f9fa; /* Even row background color */
    }

    tr:hover {
        background-color: #e74c3c; /* Hover row background color */
        color: #fff; /* Hover row text color */
    }

    a {
        color: #3498db; /* Link color */
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Attendance List</h1>
<p>
    <a asp-action="Create">Add attendance</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttendanceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttendanceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttendanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
